
h2 {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.h2auto {
    color: white;
    border-radius: 5px 5px 5px 5px;
}

#info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.nombre {
    width: 100%;
    text-align: center;
}

.categoria {
    display: flex;
    justify-content: right;
    color: rgb(49, 49, 49);
    font-size: 15px;
}

.imagenDesc2 {
    background-color: rgba(255, 255, 255, 0.349);
    border-radius: 5px;
    color: rgb(53, 53, 53);
    text-align: center;
    height: 30rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.imagenDesc2 img{
    border-radius: 0px 5px 5px 0px;
}
.descripcion {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.precioyVendidos {
    font-size: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.imagenes2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.imagenes2 > img {
    width: 300px;
    margin: 10px;
}

.categoria {
    margin: 5px;
    color: rgb(95, 95, 95);
    background-color: rgba(189, 189, 189, 0.212);
    text-indent: 5px;
    border-radius: 5px;
}

.commentContainer {
    padding: 10px;
    margin: 10px;

    display: flex;
    flex-flow: row wrap;
}

.addComment {
    flex-direction: row wrap;
}

#userComment1 {
    font-size: 20px;
}

.user-comment {
    font-size: 17px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 5px;
}

.puntaje{
    width: 100%;

}

.comentario{
    width: 100%;
    background-color: rgb(255, 247, 173);
    border-radius: 5px;
    padding: 5px;
    text-align: center;

    font-style: oblique;
}

.fecha {
    color: rgb(95, 95, 95);
}

.subtitulo{
    text-align: center;
    margin-top: 10px;
}

#addComment{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;    
}

#labelCalif{
    margin-left: 40px;
}

#relacionados {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

}

#relacionados img{
    width: 70%;
}

.contenedor2 {
    background-color: rgba(145, 145, 145, 0.26);
    border: 3px inset rgba(0, 0, 0, 0.356) ;
    padding: 5px;

    display: flex;
    flex-flow: row wrap;
}

.autoRelacionado{
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.imagenRelacionado{
    display: flex;
    flex-flow: row nowrap;
}

.relacionadosDescrip{
    font-size: 16px;
    margin: 5px;
}

.precioRelacionado{
    width: 100%;
    background-color: rgba(58, 233, 58, 0.418) ;
    text-indent: 5px;
    font-weight: bold;
    border-radius: 5px;
}

/*------------------ESTILOS SLIDER---------*/

.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    background: linear-gradient(to right,rgba(255, 255, 255, 0), rgba(212, 0, 255, 0.37), rgba(255, 255, 255, 0));
}

.slider ul {
    padding: 0;
    
    display: flex;
    width: 400%;

    animation: cambio 20s infinite alternate;
}

.slider li {
    list-style: none;
    width: 100%;
    
    display: flex;
    justify-content: center;
}

.slider img{
    width: 50%;
    margin-top: 15px;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0px 1px 10px 2px;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.contenedorAC {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.addCarrito {
    font-size: 22px;
    background-color: hotpink;
    font-weight: bold;
    border-radius: 5px;
}

.img-cart { 
    width: 25px;
    height: 25px;
}

#userText{
    font-size: 1rem;
}

.relacionadostitle{
    color: white;
    font-size: 19px;
}

footer {
    background-color: rgba(255, 255, 255, 0.356);
}