body {
    overflow-x: hidden;
  }
  
.productosh1 {
    text-align: center;
    color: rgb(61, 61, 61);
    margin: 10px;
}

#pro-list-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    margin-bottom: 20px;
}

.card {
    margin: 10px;
    box-shadow: 0px 2px 5px 2px #88888888;
}

.ordenarSegun{
    background-color: rgb(53, 53, 53);
    color: aliceblue;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.ordenarLista{
    list-style: none;
    margin: 0;
    padding: 5px;
}

.ordenarLista > li{
    float: left;
}

.ordenarLista li a{
    background-color: rgb(53, 53, 53);
    color: aliceblue;
    text-decoration: none;
    padding: 1px 5px 1px 5px;
    display: block;
}

.ordenarLista li a:hover {
    background-color: rgb(27, 27, 27);
}

.ordenarLista li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.ordenarLista li:hover > ul {
    display: block;
}

.Os{
    font-weight: bold;
    background-color: rgba(105, 105, 105, 0.329);
    border-radius: 4px;
}

#mayprec{
    border-radius: 0px 0px 5px 5px;
}

#pro-list-container > h2 > a{
    text-decoration: none;
}

#pro-list-container > h2 > a:hover{
    text-decoration: none;
}

.nombre > a {
    text-decoration: none;
}

.card-boton-link {
    color: white;
    text-decoration: none;
}
.card-boton-link:link {
    text-decoration: none;
    color: rgb(239, 241, 110);
  }

.card-boton-link:hover {
    text-decoration: none;
    color: rgb(185, 255, 191);
}

#boton1 {
    height: 39px;
    font-weight: bold;
}

.ordenarbtn {
    font-weight: bold;
}
