body{
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.contenedor {
    background-color: rgba(224, 224, 224, 0.582);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 30px;
}

h2 {
    text-indent: 15px;
}

.cantVendidos {
    font-weight: bold;
    color: rgb(53, 53, 53);  
    padding: 7px;
    font-size: 18px;
    margin-right: 20px;
    background-color: rgba(225, 0, 255, 0.404);
    box-shadow: 2px 2px 2px black;
}

.descripcion {
    font-size: 20px;
    text-indent: 10px;
    padding: 20px;
}

.imagenDescrip {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.precio {
    
    text-align: center;
    width: 200px;
    margin: 20px;
    font-weight: bold;
    color: rgb(53, 53, 53);  
    padding: 7px;
    font-size: 18px;
    margin-right: 20px;
    background-color: rgba(225, 0, 255, 0.404);
    box-shadow: 2px 2px 2px black;
}

img {
    width: 500px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.568);
}

.ordenarSegun{
    background-color: rgb(53, 53, 53);
    color: aliceblue;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.ordenarLista{
    list-style: none;
    margin: 0;
    padding: 5px;
}

.ordenarLista > li{
    float: left;
}

.ordenarLista li a{
    background-color: rgb(53, 53, 53);
    color: aliceblue;
    text-decoration: none;
    padding: 5px;
    display: block;
}

.ordenarLista li a:hover {
    background-color: rgb(27, 27, 27);
}

.ordenarLista li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.ordenarLista li:hover > ul {
    display: block;
}

#Os{
    font-weight: bold;
    background-color: darkturquoise;
    border-radius: 4px;
}

#mayprec{
    border-radius: 0px 0px 5px 5px;
}

#ordenarSegunPNG{
    width: 20px;
}
